
/*Navigation layout*/
.navbar {
    width: 100%;
    margin: auto;
	background-color: #2E428A;
	font-family: Helvetica;
	font-size: 2.2vmin;	
	
}

.icon-bar {
	color:white;
}

.dropdown-menu {
	font-size: 12pt;
	font-family: Helvetica;
	
}

.nav-pills {
	padding-top:10px;
	display:inline-block;
}

a {
    color: #E3D025;  
}

.logo {
	max-width:150px;
	max-height:100px;
	display: inline-block;
	float:left;
}




/*General body layout*/
body {
	
    background-color: #DAEBE9;
    height: 100%;
    padding: 5px;
}
section {
    background-color: rgba(49, 143, 72, 0.6);
    height: 100%;
    width: 80%;
    position: center;
    color: white;
    margin: auto;
	/* border-left: 1px solid black;
	border-right: 1px solid black; */
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.8);
	
}

tmw-section{
	margin-top: 10px;
	
	
}
div.container {
    margin: auto;
    height: 70%;
    width: 80%;    
}
div.col-lg-12 {
    text-align: center;
}

h1 {
	padding-top: 1%;
	font-family: Impact;
	font-style: oblique;
	color: yellow;
	font-size: 4.5vw;
	text-shadow: 2px 2px #000000;
}


/*Individual sections and containers*/

/*Home Section*/
#home {
	background-image:url(SampleAboutBackground2.jpg);`
	background-size:cover;
	background-repeat: no-repeat;
	background-position:center;
	padding: 10%;
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.4);
	margin-top: 2%;
	/* -moz-border-radius: 5%;
	-webkit-border-radius: 5%;
	border-radius: 5%; */
	
}

#home:hover {
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.8);
}

.homeH1 {
	margin-bottom: -3px;
}

#homeDiv {
	
	background-color: rgba(49, 143, 72, 0.6);
	width: 75%;
	height: 75%;
	-moz-border-radius: 5%;
	-webkit-border-radius: 5%;
	border-radius: 5%;
	font-family: Helvetica;
	font-size: 2.0vmin;
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
}

/*Mission Statement Section*/

#MissionStatement {
	margin-top: 2%;
	background-image: url(SampleAboutBackground.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* -moz-border-radius: 50px;
	-webkit-border-radius: 50px; */
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.4);
	height: 40%;
}
	
 #missionH1 {
	margin-bottom: -5px;
}



#MissionStatement:hover {
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.8);
}

#missionDiv {
	padding-top: -30%;
	background-color: rgba(49, 143, 72, 0.6);
	width: 80%;
	color: black;
	margin:auto;
	box-shadow:0 5px 9px 0 rgba(0, 0, 0, 0.4);
}

blockquote {
	font-size: 1.7vw;
	color: white;
}


/*FAQ Section*/
#FAQ{
	margin-top: 20px;
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.4);
	height: 70%;
	background-image: url(SampleFaqBg.png);
	background-size: cover;
	padding-left: -2%;
}

#FAQ:hover {
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.8);
}



#faqContent {

}

#aboutcontent {
    text-align: center;
    padding-top: 20px;
	
}

.panel {
	background-color:white;
	box-shadow: 0 5px 9px 0 rgba(255, 255, 255, 0.3);
}

.panel:hover {
	box-shadow: 0 5px 9px 0 rgba(255, 255, 255, 0.5);
}

.panel-custom{
	color: white;
	background-color: green;
}

.panel-body {
	color: white;
	text-align: left;
	font-size: 15pt;
	background-color:black;
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.3);
}

.panel-body:hover {
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.6);
	font-size: 2vmin;
}

.panel-title {
	text-align:left;
	font-size: 2vmin;
	
	
}


/*Sponsors section*/
#Sponsors{
	margin-top: 20px;
	margin-bottom: 2%;
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.4);
	padding-top: 2%;
	height: 65%;
}

#Sponsors:hover {
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.8);
}

/*Set sponsor image sizes*/
.sponsorImg {
	max-width: 45%;
	max-height: auto;
}

/* #positionsDiv {
	background-color: #E3D025;
}
 */

/*Settings for Open positions*/
#OpenPositions{
	margin-top: 20px;
	
}
/*Card settings for open positions */
.Card {
	box-shadow:  0 4px 7px 0 rgba(0, 0, 0, 0.2);
	background-color: #2674E3;
	transition: 0.3s;
	margin: 10px;
	border: 1px solid black;
}


.Card:hover {
	box-shadow:  0 4px 7px 0 rgba(0, 0, 0, 0.8);
	background-color: light-blue;
}

.midCol {
	border-left: 1px solid black;
	border-right: 1px solid black;

}


.cardContainer {
	width: 20%;
	height: 25%;
	padding-top: 2%;
}

.imgPosition {
	border: 1px solid black;
	margin-top: 5px;
}

.cardContent {
	font-size: 2vmin;
}





/*Footer layout*/
footer {
	text-align: center;
	font-size: 14px;
	font-family: Helvetica;
    color: white;
    height: 20%;
    width: 100%;
    background-color: #2E428A;
    padding: 15px;
    position: static;

}